@use 'WordGrid';
@use 'LargeGame';
@use 'Settings';
html, 
body {
  // font-family: sans-serif;
  font-family: roboto;
  margin: 0;
  display: flex;
}

.getWord {
  display: inline-block;
  margin: 0px;
}