.wordCard{
  display: flex;
  border-style: solid;
  border-radius: 5px;
  height: 100px;
  width: 100px;
  align-items: center;
  justify-content: center;
  font-size: 0.5rem;
  flex-direction: column;
  text-transform: capitalize;
}

.board{
  height: 550px;
  width: 550px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.red{
  background-color: #f17f7f;
}

.blue{
  background-color: #6868ff;
}

.neutral{
  background-color: beige;
}

.assassin{
  background-color: #676767;
}

.selected{
  background-color: yellow;
}